@import '../../styles/variables.styl'

.v-list
  margin 0
  padding 8px 0
  display flex
  flex-flow column nowrap
  position relative
  list-style none

  &.v-dense
    padding 4px 0

    .v-list-item
      &.v-inset .v-list-item-container
        padding-left 72px

      .v-list-item-container
        min-height 40px
        font-size 13px

        .v-avatar,
        .v-list-action
          &:first-child
            margin-right 24px

    .v-avatar
      width 32px
      min-width 32px
      height 32px
      min-height 32px

    .v-list-item-expand
      min-height 40px

  &.v-double-line
    &.v-dense
      .v-list-item
        .v-list-item-container
          min-height 60px

        .v-avatar
          width 36px
          min-width 36px
          height 36px
          min-height 36px

          .v-avatar,
          .v-list-action
            &:first-child
              margin-right 20px

      .v-list-text-container
        > :nth-child(1)
          font-size 13px

        > :nth-child(2)
          font-size 13px

    .v-list-item
      .v-list-item-container
        min-height 72px

  &.v-triple-line
    &.v-dense
      .v-list-item
        .v-list-item-container
          min-height 76px

        .v-avatar
          width 36px
          min-width 36px
          height 36px
          min-height 36px

          .v-avatar,
          .v-list-action
            &:first-child
              margin-right 20px

      .v-list-text-container
        > :nth-child(1)
          font-size 13px

        > :nth-child(2)
          font-size 13px

    .v-list-item
      .v-list-item-container
        min-height 88px

    .v-avatar
      margin 0

  .v-subheader
    &.v-inset
      padding-left 72px

  > .v-subheader:first-of-type
    margin-top -8px

.v-list-item
  height auto
  position relative
  z-index 2

  &.v-disabled
    cursor default
    pointer-events none

  &.v-inset
    .v-list-item-container
      padding-left 72px

  .v-button-ghost
    width 100%
    margin 0
    position absolute
    top 0
    right 0
    bottom 0
    left 0
    z-index 1
    border-radius 0

  .v-button:not(.v-button-ghost):not(.v-list-item-container)
    position relative
    z-index 2

    .v-icon
      position relative

  .v-list-item-container
    min-height 48px
    margin 0
    padding 0 16px
    display flex
    flex-flow row nowrap
    align-items center
    justify-content space-between
    flex 1
    position relative
    font-size 16px
    font-weight 400
    text-align left
    text-transform none

    &:hover
      text-decoration none

    > .v-icon:first-child
      margin-right 32px

    .v-avatar,
    .v-list-action
      &:first-child
        margin-right 16px

    .v-list-action
      margin 0 -10px 0 0

      &:nth-child(3)
        margin 0 -10px 0 16px

  .v-divider
    position absolute
    bottom 0
    right 0
    left 0

  .v-icon,
  .v-avatar,
  .v-list-action:first-child
    margin 0

    &:first-of-type + *
      flex 1 1 auto

  .v-avatar
    margin-top 8px
    margin-bottom 8px

  .v-icon
    color rgba(#000, .54)

  .v-ink-ripple
    border-radius 0

.v-list-item-expand
  min-height 48px
  flex-flow column wrap
  overflow hidden
  transform translate3D(0, 0, 0)

  &:before,
  &:after
    height 1px
    position absolute
    right 0
    left 0
    z-index 3
    transition swift-ease-out
    content " "

  &:before
    top 0

  &:after
    bottom 0

  &.v-active
    position relative

    &:before,
    &:after
      background-color rgba(#000, .12)

    &:first-of-type
      &:before
        background none

    &:last-of-type
      &:after
        background none

    &.v-active + .v-active:before
      background none

    > .v-list-item-container .v-list-expand-indicator
      transform rotateZ(180deg) translate3D(0, 0, 0)

    > .v-list-expand
      margin-bottom 0 !important

  .v-expansion-indicator,
  .v-list-item-container,
  .v-icon
    transition swift-ease-out

  .v-list-expand
    position relative
    z-index 1
    transform translate3D(0, 0, 0)
    will-change margin-bottom
    transition swift-ease-in-out

    &.v-transition-off
      transition none !important

    .v-list
      padding 0

.v-list-text-container
  display flex
  flex-flow column nowrap
  flex 1
  overflow hidden
  line-height 1.25em
  white-space normal

  > *
    overflow hidden
    text-overflow ellipsis
    white-space nowrap

  > :nth-child(1)
    font-size 16px

  > :nth-child(2),
  > :nth-child(3)
    margin 0
    color rgba(#000, .54)
    font-size 14px

  > :nth-child(2):not(:last-child)
    color rgba(#000, .87)
