@import './tabs.styl'


.md-tooltip
  &.md-active
    transition-duration .1s

.l-row > .md-divider
  height 100%
  width 1px

.md-sidenav > .md-sidenav-content
  width auto
  max-width 100%

.md-content
  background-color rgb(250,250,250)
