@import '../../styles/variables.styl'

switch-width = 34px
switch-height = 14px
switch-thumb-size = 20px
switch-ripple-size = 48px

.v-switch
  width auto
  margin 16px 8px 16px 0
  display inline-flex
  position relative

  .v-switch-container
    width switch-width
    height switch-height
    position relative
    border-radius switch-height
    transition swift-ease-out
    background-color rgba(#000, .38)

    .v-switch-thumb
      width switch-thumb-size
      height switch-thumb-size
      position absolute
      top 50%
      left 0
      background-color #fafafa
      border-radius 50%
      box-shadow material-shadow-1dp
      transition swift-linear
    input
      position absolute
      left -999em
    .v-ink-ripple
      top -16px
      right -16px
      bottom -16px
      left -16px
      border-radius 50%
      color rgba(#000, .54)
      .v-ripple
        width switch-ripple-size !important
        height switch-ripple-size !important
        top 0 !important
        right 0 !important
        bottom 0 !important
        left 0 !important

    .v-switch-holder
      width 40px
      height 40px
      margin 0
      padding 0
      position absolute
      top 50%
      left 50%
      z-index 2
      background none
      border none
      transform translate(-50%, -50%)
      &:focus
        outline none

  .v-switch-label
    height switch-height
    padding-left 8px
    line-height switch-height

.v-switch.v-dragging
  .v-switch-thumb
    cursor grabbing

.v-switch.v-disabled
  .v-switch-thumb
    cursor default
