@import '../../styles/variables.styl'

button-radius 2px

.v-button-toggle
  width auto
  display flex

  > .v-button
    margin 0
    overflow hidden
    border-width 1px 0 1px 1px
    border-radius 0
    text-align center
    text-overflow ellipsis
    white-space nowrap

    &:first-child
      border-radius 2px 0 0 2px

    &:last-child
      border-right-width 1px
      border-radius 0 2px 2px 0

    &:not([disabled])
      color rgba(#000, .54)

      &:hover:not(.v-toggle)
        &:not(.v-raised)
          background-color rgba(#999, .2)
          text-decoration none

    .v-ink-ripple
      border-radius button-radius
