@import '../../../styles/variables.styl'

input-size = 32px

.v-input-container
  width 100%
  min-height 48px
  // margin 4px 0 24px
  margin 4px 0 0
  padding-top 16px
  display flex
  position relative
  &.v-dense
    margin 4px 0 0
  &.has-triangle
    &:before
      color rgba(0, 0, 0, .38)
      margin-top 9px
      position absolute
      top 50%
      right 0
      transform translateY(-50%) scaleY(.45) scaleX(.85)
      transition all .15s linear
      content "\25BC"
      box-sizing inherit
  &:after
    height 1px
    position absolute
    right 0
    bottom 0
    left 0
    background-color rgba(#000, .12)
    transition swift-ease-out
    content " "
  > label
    position absolute
    top 23px
    left 0
    pointer-events none
    transition swift-ease-out
    transition-duration .3s
    color rgba(#000, .54)
    font-size 16px
    line-height 20px

  > input
  > textarea
    width 100%
    height input-size
    padding 0
    display block
    flex 1
    border none
    background none
    transition swift-ease-out
    transition-property font-size
    color rgba(#000, .54)
    font-family inherit
    font-size 1px
    line-height input-size

    &:focus
      outline none

    &::-webkit-input-placeholder
      color rgba(#000, .54)
      font-size 16px
      text-shadow none
      -webkit-text-fill-color initial

    ~ .v-icon:not(.v-icon-delete)
      margin-left 12px

      &:after
        right 0
        left auto

  > textarea
    min-height 32px
    max-height 230px
    padding 5px 0
    resize none
    line-height 1.3em

  .v-error,
  .v-count
    height 20px
    position absolute
    bottom -22px
    font-size 12px

  .v-error
    display block !important
    left 0
    opacity 0
    transform translate3d(0, -8px, 0)
    transition swift-ease-in

  .v-count
    right 0

  .v-icon:not(.v-icon-delete)
    margin 4px auto
    color rgba(#000, .54)
    transition swift-ease-out

    &:after
      width 36px
      height 2px
      position absolute
      left 0
      bottom 0
      z-index 2
      content ""

    ~
      label
        left 36px

      .v-input,
      .v-textarea,
      .v-file
        margin-left 12px

.v-input-container
  &.v-input-placeholder
    > label
      pointer-events auto
      top 10px
      opacity 0
      font-size 12px

    > input
    > textarea
      font-size 16px

  &.v-input-focused,
  &.v-has-value
    > label
      pointer-events auto
      top 0
      opacity 1
      font-size 12px

    > input,
    > textarea
      font-size 16px

  &.v-has-value
    > input,
    > textarea
      color rgba(#000, .87)

  &.v-input-inline
    > label
      pointer-events none

    &.v-input-focused
      > label
        top 23px
        font-size 16px

    &.v-has-value
      > label
        opacity 0

  &.v-input-disabled
    &:after
      background bottom left repeat-x
      background-image linear-gradient(to right, rgba(#000, .38) 0%, rgba(#000, .38) 33%, transparent 0%)
      background-size 4px 1px

    > label,
    > input,
    > textarea
      color rgba(#000, .38)

  &.v-has-password
    &.v-input-focused .v-toggle-password
      color rgba(#000, .54)

    .v-toggle-password
      margin 0
      position absolute
      right 0
      bottom -2px
      color rgba(#000, .38)

      .v-ink-ripple
        color rgba(#000, .87)

  &.v-input-invalid
    .v-error
      opacity 1
      transform translate3d(0, 0, 0)

  &.v-input-required
    > label:after
      position absolute
      top 2px
      right 0
      transform translateX(calc(100% + 2px))
      content "*"
      font-size 12px
      line-height 1em
      vertical-align top

  &.v-has-select:hover
    .v-select:not(.v-disabled):after
      color rgba(#000, .87)
