@import '../../../styles/variables.styl'

.v-calendar
  cursor pointer
  width 100%
  position relative
  height auto
  box-sizing border-box
.v-calendar-fill
  position absolute
  width 100%
  height 100%
  left 0
  top 0
  z-index 2
.v-calendar-value
  margin-top 8px
  display block
  width 100%
  position relative
  font-size 16px
  box-sizing border-box

.v-calendar-label
  position absolute
  &.v-placeholder
    top 20px
    font-size 16px
    color rgba(0,0,0,.54)
  &.v-caption
    top 0px


.v-calendar-panel
  .inputs
    height 35px
  .arrows
    z-index 2
  .month
    margin 8px
  .month-button
    min-width 40px
    width 40px
    padding 0
    &:first-child
      > .v-icon
        position absolute
        bottom 10px
        left 10px
    &:last-child
      > .v-icon
        position absolute
        top 10px
        left 10px
  input
    // width 125px
    text-align center
    font-size 16px
    word-spacing 12px !important
    border none
    outline none
    box-shadow none
    &::-webkit-inner-spin-button
    &::-webkit-calendar-picker-indicator
      display none
      -webkit-appearance none
  .inputs
    margin-top 18px
  .switch
    position absolute
    top 10px
    right 10px
  .span
    display inline-block
    margin-left 16px
