.v-select
  cursor pointer
  width 100%
  position relative
  height auto
  box-sizing border-box
  padding-top 20px
  margin 8px 0
.v-select-value
  display block
  width 100%
  position relative
  min-height 25px
  line-height 20px
  font-size 16px
  border-bottom solid 1px rgba(0, 0, 0, .15)
  box-sizing border-box
  &:hover
    &:after
      color rgba(0, 0, 0, .54)
  &:after
    color rgba(0, 0, 0, .38)
    margin-top 2px
    position absolute
    top 50%
    right 0
    transform translateY(-50%) scaleY(.45) scaleX(.85)
    transition all .15s linear
    content "\25BC"
    box-sizing inherit

.v-select-label
  position absolute
  &.md-placeholder
    top 20px
    font-size 16px
    color rgba(0,0,0,.54)
  &.md-caption
    top 0px

.v-select-panel
  .search
    height 56px !important
    min-height 56px !important
  .v-select-panel
    z-index 999
    background-color #fff
  input
    outline none
    box-shadow none
    border none
    font-size 1em
    margin-left 3px
  .md-button
    margin 0 !important


height = 35px
.v-option
  user-select none
  position relative
  cursor pointer
  font-size 16px
  line-height height
  height height
  padding 0 16px
  display block
  transition background-color .1s
  white-space nowrap
  &.focus
    background-color rgba(0, 0, 0, 0.1)
  .v-checkbox
    margin 0
    margin-right 12px
  .checked
    color #2196f3
