html
body
  width 100%
  height 100%
  overflow hidden
.relative
  position relative !important
.absolute
  position absolute !important
.fixed
  position fixed !important
.scroll-y
  overflow-y auto
.scroll-x
  overflow-x auto
.scroll
  overflow auto
