
@media print
  .no-print
    display none !important
  html
  body
    height auto !important
    overflow auto !important
  #vision
  #vision-router-view
    height auto !important
    position relative !important



body > .v-print-prepend-body
  display none
@media print
  body > .v-print-prepend-body:first-child
    display block
    & ~ *
      display none
