@import './variables.styl'

.v-shadow
.v-shadow-1
  box-shadow material-shadow-1dp
.v-shadow-2
  box-shadow material-shadow-2dp
.v-shadow-3
  box-shadow material-shadow-3dp
.v-shadow-4
  box-shadow material-shadow-4dp
.v-shadow-5
  box-shadow material-shadow-5dp
.v-shadow-6
  box-shadow material-shadow-6dp
.v-shadow-7
  box-shadow material-shadow-7dp
.v-shadow-8
  box-shadow material-shadow-8dp
.v-shadow-9
  box-shadow material-shadow-9dp
.v-shadow-10
  box-shadow material-shadow-10dp
.v-shadow-11
  box-shadow material-shadow-11dp
.v-shadow-12
  box-shadow material-shadow-12dp
.v-shadow-13
  box-shadow material-shadow-13dp
.v-shadow-14
  box-shadow material-shadow-14dp
.v-shadow-15
  box-shadow material-shadow-15dp
.v-shadow-16
  box-shadow material-shadow-16dp
.v-shadow-17
  box-shadow material-shadow-17dp
.v-shadow-18
  box-shadow material-shadow-18dp
.v-shadow-19
  box-shadow material-shadow-19dp
.v-shadow-20
  box-shadow material-shadow-20dp
.v-shadow-21
  box-shadow material-shadow-21dp
.v-shadow-22
  box-shadow material-shadow-22dp
.v-shadow-23
  box-shadow material-shadow-23dp
.v-shadow-24
  box-shadow material-shadow-24dp
