@import '../../../styles/variables.styl'

.v-select
  cursor pointer
  width 100%
  position relative
  height auto
  box-sizing border-box
  select
    display none
.v-select-fill
  position absolute
  width 100%
  height 100%
  left 0
  top 0
  z-index 2
.v-select-value
  margin-top 8px
  display block
  width 100%
  position relative
  font-size 16px
  box-sizing border-box

.v-select-label
  position absolute
  &.v-placeholder
    top 20px
    font-size 16px
    color rgba(0,0,0,.54)
  &.v-caption
    top 0px

.v-select-panel
  .search
    height 56px !important
    min-height 56px !important
  .v-select-panel
    z-index 999
    background-color #fff
  input
    outline none
    box-shadow none
    border none
    font-size 1em
    margin-left 3px
  .v-button
    margin 0 !important


height = 35px
.v-option
  user-select none
  position relative
  cursor pointer
  font-size 16px
  line-height height
  height height
  padding 0 16px
  display block
  transition background-color .1s
  white-space nowrap
  &.focus
    background-color rgba(0, 0, 0, 0.1)
  .v-checkbox
    margin 0
    margin-right 12px
  .checked
    color #2196f3
  .hover
    position absolute
    top 0
    left 0
    width 100%
    height 100%

